<!-- Details  -->
<section id="viewdestinationDetails">
    <div class="destination-area">
        <div class="destination-area-left">
            <img src="{{image}}" alt="">
        </div>
        <div class="destination-area-right">
            <h3>{{destination}}</h3>
            <div>{{city}}</div>
            <div class="data-and-time">
                {{departureDate}}
                <a href="#/edit/{{objectId}}" class="edit-destination-detail"></a>
            </div>
            <div>
                {{duration}} days
            </div>
        </div>
    </div>
</section>