<div class="destination-ticket">
    <div class="destination-left">
        <img src="{{image}}" alt="">
    </div>
    <div class="destination-right">
        <div>
            <h3>{{destination}}</h3><span>{{departureDate}}</span>
        </div>
        <div>
            {{city}}
        </div>
        <p>{{duration}} days </p>
        <a href="#/delete/{{objectId}}" class="remove">REMOVE</a>
        <a href="#/details/{{objectId}}" class="details">Details</a>
    </div>